<nav class="navbar">
    <div class="container-fluid fixed-top p-3">
        <a role="button" class="navbar-brand" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><i class="fa-solid fa-bars"></i> Menu</a>
        <a href="" class="navbar-brand">FranDev</a>
    </div>
    <div class="offcanvas offcanvas-start" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" tabindex="-1">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item mt-2">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item mt-2">
                  <a class="nav-link" href="#">Proyectos</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="#">Sobre mi</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
