<div class="messageWeb d-flex align-items-center justify-content-center">
    <div>
        <div class="d-flex justify-content-center">
            <h1>Let's make a better world!</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h4>Welcome to my website!</h4>
        </div>
    </div>
</div>
<div class="optionBox mt-5 mb-5 pt-5 pb-5">
    <h2 class="text-center">Check these sections</h2>
    <div class="listOptions d-flex justify-content-around flex-wrap mt-5 mb-5">
        <a class="m-3" href="">
            <div class="option p-5">
                <i class="fa-solid fa-folder-open"></i>
                <p class="fw-bold mt-3">Proyects</p>
            </div>
        </a>
        <a class="m-3" href="">
            <div class="option p-5">
                <div>
                    <i class="fa-solid fa-user"></i>
                </div>
                <p class="fw-bold mt-3">About me</p>
            </div>
        </a>
        <a class="m-3" href="">
            <div class="option p-5">
                <i class="fa-solid fa-envelope"></i>
                <p class="fw-bold mt-3">Contact</p>
            </div>
        </a>
    </div>
</div>
