.messageWeb{
    height: 100vh;
}

.messageWeb h2{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-right: 2px solid #c0d0ef;
    animation: blink 0.8s linear infinite alternate, typing 3s steps(27);
}

@keyframes blink {
    50%{
        border-right-color: transparent;
    }
}

@keyframes typing {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.cv button{
    box-shadow: 0px 0px 10px 5px #668dc0
}

.aboutMe h2, .aboutMe h4{
    color: #0f1c30;
    border-bottom: 2px solid #0f1c30;
}

.technology{
    width: 125px;
}